@media (min-width: 768px) {
  .password-section {
    width: 60%;
    margin: 30px auto;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .password-section {
    width: 80%;
    margin: 30px auto;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .password-section {
    width: 95%;
    margin: 20px auto;
  }
}

.mat-form-field {
  width: 100%;
}

.password-form {
  text-align: center;
}

.mat-spinner {
  margin: 0 auto;
}

.message-content {
  width: 100%;
  text-align: center;
}

.form-feedback {
  padding-top: 10px;
  padding-bottom: 10px;
}