<section class="password-section" >
  <mat-card class="password-card" >
    <mat-card-content>
      <ng-container *ngIf="loading===true" >
        <mat-spinner [diameter]="100" [strokeWidth]="3" ></mat-spinner>
      </ng-container>
      <ng-container *ngIf="loading===false" >
        <ng-container *ngIf="passwordUpdatedMsg==='success'">
          <div class="message-content" >
            <h3>Password updated successfully!</h3>
          </div>
        </ng-container>
        <ng-container *ngIf="passwordUpdatedMsg==='failure'">
          <div class="message-content" >
            <h3>Password failed to update!</h3>
          </div>
        </ng-container>
        <ng-container *ngIf="passwordUpdatedMsg==='none'" >
          <form class="password-form" [formGroup]="FPForm" (ngSubmit)="updatePassword()" >
            <mat-form-field appearance="outline" >
              <mat-label>Current Password</mat-label>
              <input type="password" name="currentPassword" matInput placeholder="Current Password" formControlName="currentPassword" />
              <mat-error *ngIf="FPFormControls.currentPassword.errors?.required" >Current password required</mat-error>
              <mat-error *ngIf="FPFormControls.currentPassword.errors?.minlength" >Current passwrod must have 6 characters in minimum</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" >
              <mat-label>New Password</mat-label>
              <input type="password" name="password" matInput placeholder="New Password" formControlName="password" />
              <mat-error *ngIf="FPFormControls.password.errors?.required" >New password required</mat-error>
              <mat-error *ngIf="FPFormControls.password.errors?.minlength" >New passwrod must have 6 characters in minimum</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" >
              <mat-label>Confirm New Password</mat-label>
              <input type="password" name="confirmNewPassword" matInput placeholder="Confirm New Password" formControlName="confirmPassword" />
              <mat-error  *ngIf="FPForm.get('confirmPassword').errors && FPForm.get('confirmPassword').errors.ConfirmPassword" >Confirm password and new password are not same.</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" class="password-submit-button" [disabled]="!FPForm.valid" >Update</button>
          </form>
        </ng-container>
      </ng-container>
      
    </mat-card-content>
  </mat-card>
</section>