.mat-card {
  margin: 20px;
  line-height: 35px;
}

:host ::ng-deep h3 {
  margin: 0px !important;
}

.mat-form-field {
  width: 46%;
  padding:10px;
}

.mat-spinner {
  margin: 0 auto;
}

.pro{
  .mat-form-field{
      width:55%;
      padding-right:20px;
  }
}

.fieldName{
  width: 30%;
  padding:10px;
  text-align:right;
}



.butn {
  padding: 0px 30px 0px 30px;
}

.add-btn{
  padding:5px;
}

@media (max-width:568px)
{
  .mat-form-field{
    width:100%;
  }
}

