<mat-card class="edge-nav" >
  <div class="flex">
    <h3 class="edge-title" >Create New Edge</h3>
    <span class="spacer"></span>
    <button mat-button [routerLink]="['/edges']" >
      <mat-icon>chevron_left</mat-icon>
      Back to Edges
    </button>
  </div>
</mat-card>
<ng-container *ngIf="userFeedback=='success'" >
  <mat-card class="create-edge-container" >
    Successfully created an edge.
  </mat-card>
</ng-container>
<ng-container *ngIf="userFeedback=='failure'" >
  <mat-card class="create-edge-container" >
    Sorry! Failed to create the edge.
  </mat-card>
</ng-container>
<ng-container *ngIf="userFeedback=='none'" >
  <form [formGroup]="create_edge_form" (ngSubmit)="createEdges()" >
    <mat-card class="create-edge-container" >
      <mat-card-content>
        <mat-form-field appearance="outline" >
          <mat-label>Name</mat-label>
          <input type="text" name="edgename" placeholder="Name" matInput formControlName="edgename" />
          <mat-error *ngIf="edgeFormControls.edgename.errors?.required" >Name is required</mat-error>
          <mat-error *ngIf="edgeFormControls.edgename.errors?.minlength" >Name should have more than 2 characters.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" >
          <mat-label>Location</mat-label>
          <input type="text" name="edgelocation" placeholder="Location" matInput formControlName="edgelocation" />
          <mat-error *ngIf="edgeFormControls.edgelocation.errors?.required" >Location is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" >
          <mat-label>Description</mat-label>
          <input type="text" name="edgedescription" placeholder="Description" matInput formControlName="edgedescription" />
          <mat-error *ngIf="edgeFormControls.edgedescription.errors?.required" >Description is required</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="create_edge_form.invalid" >Create</button>
      </mat-card-actions>
    </mat-card>
  </form>
</ng-container>