<mat-card class="table-record-search-section" *ngIf="loading === false">
  <div class="table-record-toolbar flex">
    <div class="table-nav flex">
      <button mat-icon-button class="backBtn" matTooltip="Back to Table List" [matTooltipPosition]="'right'"
        aria-label="Back to Table List" (click)="location.back()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <h3 class="table-record-title">{{ tableName }}</h3>
      <mat-form-field class="search-container" appearance="outline">
        <mat-label>Enter Partition Key to search</mat-label>
        <input matInput placeholder="Enter Partition Key to search"
            [(ngModel)]="partitionKey"

            name="InterdataSearch" />
            <!-- (ngModelChange) = handleDeleteButton() -->
      </mat-form-field>
      <mat-form-field *ngIf="this.partitionKey" class="search-container" appearance="outline">
        <mat-label>Enter Row Key to search</mat-label>
        <input matInput placeholder="Enter Row Key to search"
            [(ngModel)]="rowKey"
            name="InterdataSearch" />
      </mat-form-field>
    </div>
    <span class="spacer"></span>
    <div class="opt flex">
      <button mat-raised-button color="primary" mattooltip="Search selected filter" ng-reflect-message="Search selected filter" class="pagination" (click)="searchChanged()">
        Search
      </button>
      <button [disabled] = "!showDelete" mat-raised-button color="warn" mattooltip="Delete selected filter" ng-reflect-message="delete filtered" class="pagination" (click)="openDeleteMembersModal()">
        Delete {{selectedType}}
      </button>
      <button mat-raised-button color="primary" class="pagination" (click)="createNew()" >
        Create
      </button>
      <button  [disabled]="!previousPageToken" mat-button  class="pagination" (click)="previous()">
        <mat-icon>chevron_left</mat-icon>
        Prev
      </button>
      <button *ngIf="nextPageToken" mat-button  class="pagination" (click)="next()">
        Next
        <mat-icon>chevron_right</mat-icon>
      </button>
      <mat-form-field appearance="outline" class="RPP">
        <mat-label>Records</mat-label>
        <mat-select (selectionChange)="onLimitChange($event)" [value]="limit">
          <mat-option *ngFor="let pageSize of pageSizeOptions" [value]="pageSize">{{ pageSize }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
</div>
</mat-card>
<mat-card class="table-record-search-section" *ngIf="loading===true">
  <mat-spinner [diameter]="50" [strokeWidth]="2"></mat-spinner>
</mat-card>
<mat-card class="table-record-search-section" *ngIf="loading===false && userFeedback==='InterdataResultNA'">
  Sorry! No matching results for interdata.
</mat-card>
<mat-card class="table-record-search-section" *ngIf="loading===false && userFeedback==='InterdataFetchFailed'">
  Sorry! Something went wrong while fetching the data.
</mat-card>
<section class="table-record-detail" [hidden]="!(loading===false && userFeedback==='none')">
  <mat-card class="example-container">
    <table mat-table  [dataSource]="dataSource"  multiTemplateDataRows matSort>
      <ng-container *ngFor="let column of DisplayedColumns" matColumnDef="{{column}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column | uppercase }} </th>
        <td mat-cell *matCellDef="let element" class="idcell"> {{element[column]}} </td>
      </ng-container>
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="DisplayedColumns.length">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

            <div class="example-element-description">

              <h4 style="margin-bottom:5px">Properties</h4>
              <mat-divider></mat-divider>
              <mat-grid-list [cols]="breakpoint!==2?3:1" rowHeight="60px" (window:resize)="onResize($event)">
                <mat-grid-tile  *ngFor='let item of element.properties'>
                  <div class="description-header">
                    <h3  class="example-element-description-attribution">{{item[0]}}</h3>
                  </div>
                  <div class="description-details">
                    <p style="margin: 0;">{{item[1]}}</p>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
              <div >
              <span class="spacer"></span>
              <button *ngIf="nextPageToken" mat-raised-button color="primary" class="btn-update" (click)="displayTableDetails(element)">
                Update
              </button>
            </div>
              <!-- <span class="example-element-description-attribution"> -- Wikipedia </span> -->
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="DisplayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: DisplayedColumns;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </mat-card>
</section>
