@media (min-width: 768px) {
  .profile-section {
    width: 60%;
    margin: 30px auto;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .profile-section {
    width: 80%;
    margin: 30px auto;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .profile-section {
    width: 95%;
    margin: 20px auto;
  }
}

.mat-form-field {
  width: 100%;
}

.mat-spinner {
  margin: 0 auto;
}